#{extends 'main.html' /}
#{set title:'行程' /}

<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    返回
  </button>
  <a class="btn btn-link btn-nav pull-right" href="@{Application.book}">
    新增
    <span class="icon icon-right-nav"></span>
  </a>
  <h1 class="title">行程</h1>
</header>

<div class="content device-content">
    <ul class="table-view">
      <li class="table-view-cell">
        <a class="navigate-right">
          <div><h4>2015-7-12 CA1753 <div style="float:right;">已计划</div></h4></div>
          <div style="float:left;">
            <div>
              <div style="color:rgb(109, 202, 210);float:left;position:relative;">
                <span class="icon icon-location" style="font-size:40px;"></span>
                <span style="font-size:15px;position:absolute;left:12px;top:2px;color:white;">起</span>
              </div>
              <div style="float:left">
                <div>天堂软件园</div>           
                <div style="color:gray;font-size:13px;">西斗门路3号</div>
              </div>
            </div>
            <div style="clear:both;"></div>
            <div>
              <div style="color:rgb(211, 161, 30);float:left;position:relative;">
                  <span class="icon icon-location" style="font-size:40px;"></span>
                  <span style="font-size:15px;position:absolute;left:12px;top:2px;color:white;">终</span>              
              </div> 
              <div style="float:left;">
                    <div>萧山机场T2航站楼</div>
                    <div style="color:gray;font-size:13px;">萧山机场路1号</div>
              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="float:right;font-size:28px;">09:20</div>    
        </a>
      </li>
      <li class="table-view-divider"></li>
      <li class="table-view-cell">
        <a class="navigate-right">
          <div><h4>2015-7-12 CA1753 <div style="float:right;">已取消</div></h4></div>
          <div style="float:left;">
            <div>
              <div style="color:green;float:left;position:relative;">
                <span class="icon icon-location" style="font-size:40px;"></span>
                <span style="font-size:15px;position:absolute;left:12px;top:2px;color:white;">起</span>
              </div>
              <div style="float:left">
                <div>天堂软件园</div>           
                <div style="color:gray;font-size:13px;">西斗门路3号</div>
              </div>
            </div>
            <div style="clear:both;"></div>
            <div>
              <div style="color:blue;float:left;position:relative;">
                  <span class="icon icon-location" style="font-size:40px;"></span>
                  <span style="font-size:15px;position:absolute;left:12px;top:2px;color:white;">终</span>              
              </div> 
              <div style="float:left;">
                    <div>萧山机场T2航站楼</div>
                    <div style="color:gray;font-size:13px;">萧山机场路1号</div>
              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="float:right;font-size:28px;">09:20</div>    
        </a>
      </li>
      <li class="table-view-cell">
        <a class="navigate-right">
          <div><h4>2015-7-12 CA1753 <div style="float:right;">已完成</div></h4></div>
          <div style="float:left;">
            <div>
              <div style="color:green;float:left;position:relative;">
                <span class="icon icon-location" style="font-size:40px;"></span>
                <span style="font-size:15px;position:absolute;left:12px;top:2px;color:white;">起</span>
              </div>
              <div style="float:left">
                <div>天堂软件园</div>           
                <div style="color:gray;font-size:13px;">西斗门路3号</div>
              </div>
            </div>
            <div style="clear:both;"></div>
            <div>
              <div style="color:blue;float:left;position:relative;">
                  <span class="icon icon-location" style="font-size:40px;"></span>
                  <span style="font-size:15px;position:absolute;left:12px;top:2px;color:white;">终</span>              
              </div> 
              <div style="float:left;">
                    <div>萧山机场T2航站楼</div>
                    <div style="color:gray;font-size:13px;">萧山机场路1号</div>
              </div>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="float:right;font-size:28px;">09:20</div>    
        </a>
      </li>      
    </ul>
</div>